<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <h1>Contact List</h1>

        <ul>
            <% for(let i of contactList) { %> 
                <li>
                    <p>
                        <%= i.name %> 
                    </p>
                    <p>
                        <%= i.number %> 
                    </p>
                </li>
            <% } %>

            
        </ul>
    </body>
</html>